1) A sequencia de Fibonacci é caracterizada por um sequencia de números que começa com 0 e 1, e os próximos termos são os a soma dos dois termos imediatamente anteriores. Por exemplo:

1º Termo = 0

2º Termo = 1

3° Termo = 0+1 = 1

4º Termo = 1+1 = 2

5º Termo = 1+2 = 3

a) Calcule os 100 primeiros termos da sequência, colocando-os em uma lista.

b) Qual o valor do 59º termo da sequência?

c) Calcule a média aritmética dos 100 primeiros termos da sequencia de Fibonacci. (Lembrando que a média aritmética é dada pela soma de todos os termos dividida pelo número de termos)

In [1]:
def fibonacci(n):
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return fib_sequence

In [3]:
# letra a
fib_100 = fibonacci(100)
print(fib_100)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026]

In [4]:
#letra b
termo = fib_100[58]
print(termo)

591286729879

In [5]:
# letra c
media = sum(fib_100) / len(fib_100)
print(media)

5.73147844013817e+18

2) Faça uma função que calcule a sequência de fibonacci até o n-ésimo termo, sendo n um argumento que será passado pra função. Faça essa função retornar uma lista com os termos calculados dentro.

In [ ]:
def fibonacci(n):
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return fib_sequence

In [8]:
print(fibonacci(59))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879]

3) Utilizando a função criada no exercício anterior, crie 2 arquivos de texto, um com o nome *10_termos.txt* que contenha os 10 primeiros termos da sequência de Fibonacci, um termo em cada linha, e outro arquivo *100_termos.txt* com os 100 primeiros termos da sequência.

In [9]:
def write_to_file(filename, sequence):
    with open(filename, 'w') as f:
        for item in sequence:
            f.write(f"{item}\n")

fib_10 = fibonacci(10)
fib_100 = fibonacci(100)

write_to_file('10_termos.txt', fib_10)
write_to_file('100_termos.txt', fib_100)

4) Crie utilizando um pandas dataframe a seguinte tabela e salve essa tabela em um arquivo excel (tabela.xlsx):

| nome | idade | cidade         | profissão |
|------|-------|----------------|-----------|
| joão | 22    | Porto Alegre   | professor |
| ana  | 23    | São Paulo      | jornalista|
| pedro| 24    | Rio de Janeiro | advogado  |
| maria| 25    | Belo Horizonte | vendedor  |
| josé | 26    | Porto Alegre   | engenheiro|

In [11]:
import pandas as pd

data = {
    'nome': ['joão', 'ana', 'pedro', 'maria', 'josé'],
    'idade': [22, 23, 24, 25, 26],
    'cidade': ['Porto Alegre', 'São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Porto Alegre'],
    'profissão': ['professor', 'jornalista', 'advogado', 'vendedor', 'engenheiro']
}

df = pd.DataFrame(data)

display(df)

    nome  idade          cidade   profissão
0   joão     22    Porto Alegre   professor
1    ana     23       São Paulo  jornalista
2  pedro     24  Rio de Janeiro    advogado
3  maria     25  Belo Horizonte    vendedor
4   josé     26    Porto Alegre  engenheiro

In [12]:
df.to_excel('tabela.xlsx', index=False)

5) O arquivo base_vendas.csv contém informações a cerca de vendas de produtos fictícios, as colunas do arquivo são as seguintes:

**sku**: Identificador único para cada produto.\
**classe**: Categoria à qual o produto pertence (Móveis, Decoração, Tecnologia, etc...).\
**qtde_vendida**: Quantidade de vendas do produto no período de análise.\
**valor_unitario**: Preço unitário de cada produto.

Carregue a base em um dataframe e responda as seguintes questões:

a) Qual o tipo de cada coluna?

b) Quantas classes de produtos existem na base e quais são elas?

c) Considerando todos os produtos, qual o total de unidades vendidas?

d) Qual o total de unidades vendidas por classe?

e) Indique os sku's dos 10 produtos mais vendidos e menos vendidos.

f) Qual a média da quantidade de unidades vendidas?

g) Qual a média da quantidade de unidades vendidas por classe?

h) Crie uma coluna indicando a receita total de cada produto.

i) Qual a receita total no período analisado?

j) Considerando os 10 produtos mais rentáveis, quantos por cento da receita total eles representam?

k) Quantos dos produtos mais rentáveis somam 50% da receita total?

In [14]:
import pandas as pd

df = pd.read_csv('base_vendas.csv', encoding='latin-1', sep=';', decimal=',')

display(df.head())

    sku      classe  qtde_vendida  valor_unitario
0  3271  automotivo          2935         2931.49
1  2336   decoracao           162         1830.73
2  6751  tecnologia          3055         1534.94
3  5843      eletro          1998         1759.78
4  3638   contrucao           495         1605.75

In [15]:
# letra a
df.dtypes

sku                 int64
classe             object
qtde_vendida        int64
valor_unitario    float64
dtype: object

In [17]:
# letra b
classes = df['classe'].unique() # unindo unicas

print(f'Existem {len(classes)} classes de produtos na base: {classes}')

Existem 8 classes de produtos na base: ['automotivo' 'decoracao' 'tecnologia' 'eletro' 'contrucao' 'moveis'
 'alimentacao' 'informatica']

In [20]:
# letra c
total = df['qtde_vendida'].sum()

print(f'O total de unidades vendidas é: {total}')

O total de unidades vendidas é: 1851621

In [22]:
# letra d
totalClasse = df.groupby('classe')['qtde_vendida'].sum()

print(totalClasse)

classe
alimentacao    260833
automotivo     189967
contrucao      212462
decoracao      263716
eletro         223972
informatica    236815
moveis         246129
tecnologia     217727
Name: qtde_vendida, dtype: int64

In [24]:
# letra e
top10Mais = df.groupby('sku')['qtde_vendida'].sum().nlargest(10)

top10Menos = df.groupby('sku')['qtde_vendida'].sum().nsmallest(10)

print('Os SKU\'s dos 10 produtos mais vendidos são:')
print(top10Mais)
print('\nOs SKU\'s dos 10 produtos menos vendidos são:')
print(top10Menos)

Os SKU's dos 10 produtos mais vendidos são:
sku
6800    6924
6006    6601
5625    6504
8006    6493
7140    6350
8265    5998
3765    5874
8832    5847
1063    5846
4706    5756
Name: qtde_vendida, dtype: int64

Os SKU's dos 10 produtos menos vendidos são:
sku
3604     4
6057     6
2306    11
8658    17
8035    22
2636    24
3811    31
4864    34
8487    38
2910    40
Name: qtde_vendida, dtype: int64

In [25]:
# letra f
media = df['qtde_vendida'].sum()/(len(df))
print(f"A média é {media}")

A média é 1976.1163287086447

In [28]:
# letra g
mediaClasse = df.groupby('classe')['qtde_vendida'].mean()
print(mediaClasse)

classe
alimentacao    2103.491935
automotivo     1978.822917
contrucao      1914.072072
decoracao      2013.099237
eletro         1722.861538
informatica    2041.508621
moveis         1969.032000
tecnologia     2093.528846
Name: qtde_vendida, dtype: float64

In [29]:
# letra h
df['receita'] = df['qtde_vendida'] * df['valor_unitario']
display(df.head())

    sku      classe  qtde_vendida  valor_unitario     receita
0  3271  automotivo          2935         2931.49  8603923.15
1  2336   decoracao           162         1830.73   296578.26
2  6751  tecnologia          3055         1534.94  4689241.70
3  5843      eletro          1998         1759.78  3516040.44
4  3638   contrucao           495         1605.75   794846.25

In [31]:
# letra i
receitaTotal = df['receita'].sum()
print(f"Receita total: {receitaTotal}")

Receita total: 1911969531.57

In [32]:
# letra j
top10Receita = df.nlargest(10, 'receita')
soma = top10Receita['receita'].sum()
soma_total = df['receita'].sum()
porcentagem = (soma / soma_total) * 100

print(f'Os 10 produtos mais rentáveis representam {porcentagem}% da receita total.')

Os 10 produtos mais rentáveis representam 6.881120438774273% da receita total.

In [34]:
# letra k
decrescente = df.sort_values('receita', ascending=False)

# Calculando a receita total
receita = df['receita'].sum()

# Inicializando a soma acumulada e o contador de produtos
soma = 0
contador = 0

# Percorrendo as linhas do DataFrame ordenado
for _, row in decrescente.iterrows():
    soma += row['receita']
    contador += 1
    if soma >= receita * 0.5:
        break

# Imprimindo o número de produtos que somam 50% da receita total
print(f'{contador} dos produtos mais rentáveis somam 50% da receita total.')

162 dos produtos mais rentáveis somam 50% da receita total.